	/*
  	Flaticon icon font: Flaticon
  	Creation date: 29/11/2018 19:45
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  font-size: inherit;
  font-style: normal;
}

.flaticon-skyline:before { content: "\f100"; }
.flaticon-shovel:before { content: "\f101"; }
.flaticon-helmet:before { content: "\f102"; }
.flaticon-website:before { content: "\f103"; }
.flaticon-home:before { content: "\f104"; }
.flaticon-graphic-design:before { content: "\f105"; }
.flaticon-paint-brush:before { content: "\f106"; }
.flaticon-paint-palette-and-brush:before { content: "\f107"; }
.flaticon-support:before { content: "\f108"; }
.flaticon-support-1:before { content: "\f109"; }
.flaticon-online-support:before { content: "\f10a"; }
.flaticon-support-2:before { content: "\f10b"; }
.flaticon-briefcase:before { content: "\f10c"; }
.flaticon-smile:before { content: "\f10d"; }
.flaticon-face:before { content: "\f10e"; }
.flaticon-team:before { content: "\f10f"; }
.flaticon-team-1:before { content: "\f110"; }
.flaticon-image:before { content: "\f111"; }
.flaticon-link-symbol:before { content: "\f112"; }
.flaticon-right-arrow:before { content: "\f113"; }
.flaticon-left-arrow:before { content: "\f114"; }
.flaticon-send:before { content: "\f115"; }
.flaticon-rocket-ship:before { content: "\f116"; }
.flaticon-start:before { content: "\f117"; }