/*--------------------
    Blog Details
--------------------*/
.blog-details-page-content-area{
    padding: 100px 0 100px 0;
    .blog-single-item{
        .thumb{
            margin-bottom: 23px;
        }
        .entry-content{
            .entry-title{
                font-size: 30px;
                line-height: 40px;
                color: $heading-font;
                font-weight: 500;
                margin-bottom: 15px;
            }
            p{
                font-size: 16px;
                line-height: 26px;
                color: $descr-color;
            }
            blockquote{
                background-color: $base-color;
                color: $white;
                font-size: 16px;
                line-height: 26px;
                font-style: italic;
                padding: 20px 20px 20px 20px;
                border-radius: 5px;
                margin: 25px 0 25px 0;
            }
            .post-meta{
                margin: 0;
                padding: 0;
                margin-bottom: 20px;
                li{
                    display: inline-block;
                    margin: 0 8px;
                    a{
                        color: $descr-color;
                        @include transition($transition);
                        &:hover{
                            color: $base-color;
                        }
                    }
                    &:first-child{
                        margin-left: 0;
                    }
                    &.last-child{
                        margin-right: 0;
                    }
                }
            }
        }
        .entry-footer{
            margin-top: 35px;
            .post-share{
                margin: 0;
                padding: 0;
                list-style: none;
                li{
                    display: inline-block;
                    margin: 0 10px;
                    &:first-child{
                        margin-left: 0;
                    }
                    &:last-child{
                        margin-right: 0;
                    }
                    a{
                        border: 1px solid #e2e2e2;
                        padding: 5px 15px;
                        display: block;
                        border-radius: 3px;
                        i{
                            padding-right: 10px;
                        }
                    }
                }
            }
        }
    }
    .comments-area{
        margin-top: 37px;
        .comments-title{
            font-size: 24px;
            line-height: 34px;
            margin-bottom: 34px;
        }
        ol{
            margin: 0;
            padding: 0;
            li{
                display: block;
                margin-bottom: 35px;
                .children{
                    margin-top: 35px;
                    li{
                        margin-left: 40px;
                        margin-bottom: 35px;
                        &:last-child{
                            margin-bottom: 0;
                        }
                    }
                }
                &:last-child{
                    margin-bottom: 0;
                }
                .comment-wrap{
                    position: relative;
                    display: flex;
                    align-self: flex-start;
                    .reply{
                        position: absolute;
                        right: 0;
                        top: 0;
                        color: $descr-color;
                        @include transition($transition);
                        &:hover{
                            color: $base-color;
                        }
                    }
                    .thumb{
                        width: 100px;
                        height: 100px;
                        margin-right: 20px;
                        img{
                            border-radius: 50%;
                        }
                    }
                    .content{
                        flex: 1;
                        .name{
                            font-size: 18px;
                            font-weight: 600;
                            a{
                                color: $heading-color;
                                @include transition($transition);
                                &:hover{
                                    color: $base-color;
                                }
                            }
                        }
                        .time{
                            font-size: 14px;
                            line-height: 24px;
                            color: $descr-color;
                        }
                        .comment-content{
                            p{
                                font-size: 16px;
                                line-height: 26px;
                                color: $descr-color;
                                &:last-child{
                                    margin-bottom: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
        .comment-respond{
            margin-top: 30px;
            .comment-reply-title{
                font-size: 24px;
                line-height: 34px;
                margin-bottom: 36px;
            }
            .comment-form{
                .form-group{
                    &.textarea{
                        .form-control{
                            min-height: 160px;
                            resize: none;
                            &:focus{
                                outline: none;
                                box-shadow: none;
                            }
                        }
                    }
                    .form-control{
                        height: 50px;
                        padding: 10px 30px;
                        border: 1px solid #e2e2e2;
                    }
                }
                .submit-btn{
                    font-weight: 16px;
                    font-weight: 600;
                    color: $heading-color;
                    @include transition($transition);
                    border-radius: 5px;
                    &:hover{
                        color: $white;
                    }
                }
            }
        }
    }
}